Create a dictionary of 10 elements and convert it in to data frame access 3 & 5 elements last 6 elements in reverse order
import pandas as pd

In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\eshit\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\eshit\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\eshit\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\eshit\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in c:\users\eshit\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [2]:
D={'class':[1,2,3,4,5,6,7,8,9,10],'strength':[24,26,28,29,30,30,21,20,15,19]}
df=pd.DataFrame(D)
df

   class  strength
0      1        24
1      2        26
2      3        28
3      4        29
4      5        30
5      6        30
6      7        21
7      8        20
8      9        15
9     10        19

In [20]:
df.loc[2]

class        4
strength    29
Name: 3, dtype: int64

In [22]:
df.iloc[4]

class        5
strength    30
Name: 4, dtype: int64

In [27]:
df.loc[10:4:-1]

   class  strength
9     10        19
8      9        15
7      8        20
6      7        21
5      6        30
4      5        30