1.Create a data frame save it as csv file,set index as random

In [2]:
import numpy as np
import pandas as pd

random = np.random.randint(low = 0, high =20, size = 5)
name = np.random.choice(['e','s'],size =  5)
choice = np.random.choice([2,4,6],size = 5)
dict = {
    'Random':random, 
    'Name':name,
    'Choice':choice
}
df = pd.DataFrame(dict)
df

   Random Name  Choice
0      14    s       2
1       9    s       6
2      14    s       4
3       2    e       6
4       7    e       4

In [3]:
df.to_csv('file.csv')

In [4]:
df.set_index('Random',inplace = True)
df

       Name  Choice
Random
14        s       2
9         s       6
14        s       4
2         e       6
7         e       4

2.create a data frame, merge it with a new column

In [8]:
D={'fruits':['apple','banana','orange','pineapple'],'price':[79.5,60,32,40]}
df1 = pd.DataFrame(D)
df1

      fruits  price
0      apple   79.5
1     banana   60.0
2     orange   32.0
3  pineapple   40.0

In [9]:
newdata=pd.DataFrame({'fruits':['strawberry','mosambi','guava'],'qty':[12,'1Kg','1kg']})
newdata

       fruits  qty
0  strawberry   12
1     mosambi  1Kg
2       guava  1kg

In [11]:
pd.merge(df1,newdata,on='fruits')

Empty DataFrame
Columns: [fruits, price, qty]
Index: []

In [13]:
F={'fruits':['strawberry','mosambi','guava'],'price':[90,70,39]}
df2=pd.DataFrame(F)
df2
newdata=pd.DataFrame({'fruits':['strawberry','mosambi','guava'],'qty':[12,'1Kg','1kg']})
newdata
pd.merge(df2,newdata,on='fruits')

       fruits  price  qty
0  strawberry     90   12
1     mosambi     70  1Kg
2       guava     39  1kg