Task 1
Create a data frame and use replace function to replace the observations

In [2]:
import numpy as np
import pandas as pd

In [4]:
#Eg 1 creating data set
data = pd.Series(["eshitha","sri","paddu"])
index = ["name_1","name_2","name_3"]
data.index = index
print(data)

name_1    eshitha
name_2        sri
name_3      paddu
dtype: object

Replacing object from the given data set
to_replace()

In [8]:
#here i am replacing the given data with age and city
result = data.replace(to_replace = ["eshitha","sri"], value = ["age","city"])
result

name_1      age
name_2     city
name_3    paddu
dtype: object

In [12]:
#eg 2 to replace values
s = pd.Series([0, 2, 3, 4, 5])
s.replace(0, 6) #by indexing replacing 0 index by 6

0    6
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
#eg 3 to replace strings
data1 = pd.Series(["a","b","a","d"]) #creating a data set
data1

0    a
1    b
2    a
3    d
dtype: object

In [19]:
#When one uses a dict as the to_replace value, it is like the value(s) in the dict are equal to value parameter
res = data1.replace({"a":"apple"}) 
res

0    apple
1        b
2    apple
3        d
dtype: object

In [24]:
res = data1.replace({"a":"ant"}) 
res

0    ant
1      b
2    ant
3      d
dtype: object

In [25]:
# eg 4
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e']})
df

   A  B  C
0  0  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

In [26]:
df.replace([0, 1, 2], 22)

    A  B  C
0  22  5  a
1  22  6  b
2  22  7  c
3   3  8  d
4   4  9  e

In [27]:
df.replace([0, 1, 2], [22,23,24]) # REPLACING ROWS

    A  B  C
0  22  5  a
1  23  6  b
2  24  7  c
3   3  8  d
4   4  9  e

In [29]:
df.replace({'A': {0: 100, 4: 400}}) #Replacing columns

     A  B  C
0  100  5  a
1    1  6  b
2    2  7  c
3    3  8  d
4  400  9  e

TASK 2 CONVERTING CATEROGICAL DATA TO NUMERICAL DATA

Q)How to convert caterogical data to numerical data
A)WE probably want to use an Encoder. One of the most used and popular ones are LabelEncoder and OneHotEncoder. Both are provided as parts of sklearn library.

In [1]:
#LabelEncoder can be used to transform categorical data into integers:

from sklearn.preprocessing import LabelEncoder #Importing label encoder
label_encoder = LabelEncoder()
x = ['Ant', 'cat', 'rat', 'rabbit','dog','elephant']
y = label_encoder.fit_transform(x) #Fit label encoder and return encoded labels.
print(y)

[0 1 5 4 2 3]

In [2]:

from sklearn.preprocessing import LabelEncoder #Importing label encoder
label_encoder = LabelEncoder()
x = ['Ant', 'cat', 'rat', 'rabbit','dog','elephant']
y = label_encoder.fit(x) #Fit label encoder
print(y)

LabelEncoder()

In [6]:
from sklearn.preprocessing import LabelEncoder #Importing label encoder
label_encoder = LabelEncoder()
x = ['Ant', 'cat', 'rat', 'rabbit','dog','elephant']
y = label_encoder.get_params(deep = True) #Get parameters for this estimator.
print(y)

{}

In [7]:
from sklearn.preprocessing import LabelEncoder #Importing label encoder
label_encoder = LabelEncoder()
x = ['Ant', 'cat', 'rat', 'rabbit','dog','elephant']
y = label_encoder.get_params(deep = False) #Get parameters for this estimator.
print(y)

{}

In [23]:
#eg 2
#Import required packages
from sklearn import preprocessing
import pandas as pd

In [25]:
data = {'patient': [1, 1, 1, 2, 2],
        'obs': [1, 2, 3, 1, 2],
        'treatment': [0, 1, 0, 1, 0],
        'score': ['strong', 'weak', 'normal', 'weak', 'strong']} # need to cobert here caterogical to numerical
df = pd.DataFrame(data, columns = ['patient', 'obs', 'treatment', 'score'])
le = preprocessing.LabelEncoder()
le.fit(df['score'])

LabelEncoder()

In [26]:
list(le.classes_)

['normal', 'strong', 'weak']

In [27]:
le.transform(df['score'])

array([1, 2, 0, 2, 1])

In [29]:
list(le.inverse_transform([2, 2]))

['weak', 'weak']

In [31]:
data1 = pd.Series(list('appleapple')) 
data1

0    a
1    p
2    p
3    l
4    e
5    a
6    p
7    p
8    l
9    e
dtype: object

In [34]:
pd.get_dummies(data1) #get dummies method

   a  e  l  p
0  1  0  0  0
1  0  0  0  1
2  0  0  0  1
3  0  0  1  0
4  0  1  0  0
5  1  0  0  0
6  0  0  0  1
7  0  0  0  1
8  0  0  1  0
9  0  1  0  0

Major difference between get_dummies and label encoder

1.pandas.get_dummies is in the form of binary 0's and 1's
LabelEncoder is incremental encoding, such as 0,1,2,3,4,...

2.The get dummies "condenses" the information by changing things to integers, and the label encoder "expands" the dimensions allowing (possibly) more convenient access.